
body {
    scroll-behavior: smooth;
    font-family: Helvetica, sans-serif;
}

.first-name-field:invalid {
    background-color: rgba(255, 0, 0, 0.349);
  }

  /* Navbar */
nav {
    background-color: #FBE8E2;
    width: 80%;
    margin: auto;
    border-bottom: 1px solid black;
}

.nav-background, header {
    background-color: #FBE8E2;
}

ul {
    padding-right: 80px;
    padding-top: 50px;
    padding-bottom: 10px;
}

.nav-link {
    font-size: 20px;
    color: #4A4242;
    letter-spacing: -0.08px;
}

.nav-link:hover{
    color: #FF5860;
}

.log-in-link {
    color: #FF5860;
}

/* Header */
.header-icon  {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    margin-top: 60px;
    margin-bottom: 60px;
}

.tag-line {
    font-family: HelveticaNeue-Bold;
    font-size: 58px;
    color: #4A4242;
    letter-spacing: -0.09px;
    line-height: 78px;
    text-align: center;
}

.coupon-text {
    font-size: 32px;
    color: #4A4242;
    letter-spacing: -0.13px;
    text-align: center;
    margin-top: 20px;
    padding-bottom: 40px;
}
.join-now-button-div  {
    text-align: center;
    padding-bottom: 20px;
}
.join-now-button {
    background: #FF5B5A;
    border-radius: 28px;
    font-family: Arial;
    font-size: 20px;
    color: #FFFFFF;
    letter-spacing: -0.26px;
    margin: auto;
}

.app-store-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 60px;
}

/* About */
h1 {
    font-size: 30px;
    color: #4A4242;
    letter-spacing: -0.22px;
    text-align: center;
}

#About, #Mission {
    padding: 40px;
}

.card {
    margin: 0 auto;
    border: none;
}
.card-text {
    text-align: center;
}

.card-img-top {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    height: 200px;
}
/* Mission */

.mission-text {
    padding: 50px;
    font-family: HelveticaNeue;
    font-size: 20px;
    color: #5C5858;
    letter-spacing: -0.14px;
    text-align: center;
}