
*, html {
    scroll-behavior: smooth;
    box-sizing: border-box;
}
body {
    font-family: 'SFPro';
}

@font-face {
    font-family: 'SFPro'; /*a name to be used later*/
    src: url('./SF\ Pro\ 2/SF-Pro-Display-Regular.otf'); /*URL to font*/
}

.first-name-field:invalid {
    background-color: rgba(255, 0, 0, 0.349);
  }

  /* Navbar */
nav {
    background-color: #FBE8E2;
    margin: auto;
    
}


.nav-background, header, footer {
    background-color: #FBE8E2;
}

.image-icon {
    position: relative;
    left: 130px;
}


ul {
    padding-right: 120px;
    padding-top: 20px;
    padding-bottom: 0px;
}

.navbar-nav > li{
    padding-left:18px;
    padding-right:18px;
  }

.nav-link {
    font-size: 20px;
    color: #4A4242;
    letter-spacing: -0.08px;
}

.nav-link:hover{
    color: #FF5860;
}

.log-in-link {
    color: #FF5860;
}

a.img:before, a.img:after{
    outline: none !important;
    box-shadow: none;
}
/* Header */
.header-icon  {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    margin-top: 100px;

}

.tag-line {
    font-family: HelveticaNeue-Bold;
    font-size: 58px;
    color: #4A4242;
    letter-spacing: -0.02px;
    line-height: 68px;
    text-align: center;
}

.coupon-text {
    font-size: 32px;
    color: #4A4242;
    letter-spacing: -0.13px;
    text-align: center;
    margin-top: 5px;
    padding-bottom: 5px;
}
.join-now-button-div  {
    text-align: center;
    padding-bottom: 50px;
}
.join-now-button {
    background: #FF5B5A;
    border-radius: 28px;
    font-family: Arial;
    font-size: 20px;
    color: #FFFFFF;
    letter-spacing: -0.26px;
    margin: auto;
}

.app-store-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 20px;
}

/* About */
h1 {
    font-size: 50px;
    color: #4A4242;
    letter-spacing: -0.22px;
    text-align: center;
}

#Mission {
    padding: 180px;
}

#About {
    padding: 180px;
    padding-bottom: 40px;
}

.card {
    margin: 0 auto;
    border: none;
}
.card-text {
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    font-family: 'Source Sans Pro'
}

.card-img-top {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    height: 200px;
}
/* Mission */

.mission-text {
    padding: 50px;
    font-family: HelveticaNeue;
    font-size: 30px;
    color: #5C5858;
    letter-spacing: -0.14px;
    text-align: center;
}

/* testimonials and image */
.testimonial-quote {
    font-family: ArialRoundedMTBold;
    font-size: 30px;
    color: #5C5858;
    letter-spacing: -0.13px;
    text-align: center;
    padding-top: 3em;
    padding-bottom: 1em;
}

.testimonial-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.testimonial-div {
    background: #F2F2F2;
}

/* Footer */
.footer-ul {
    list-style-type: none;
    text-align: left;
    font-size: 15px;
    color: #4A4242;
    letter-spacing: -0.08px;
    padding-right: 0;

}

.footer-li {
    padding-right: 50px;
}

.footer-2 {
    display: inline-block;
}

.footer-col {
    display: flex;
}

.app-img-footer {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    padding-top: 30px;
}

.footer-download-btn {
    border-radius: 28px;
    width: 260px;
    height: 50px;
    background-color: white;
    color: black;
}

button:focus,button:active, join-now-button:focus, join-now-button:active {
    outline: none !important;
    box-shadow: none;
 }

.footer-download-btn:hover {
    background-color: #FBE8E2;
}

.testimonial-div-2 {
    text-align: center;
    padding-bottom: 50px;
}

/* modal form */

div.modal-header {
    border-bottom: none !important;
    text-align: center;
    margin: auto
}
.modal-body, .modal-content, label, .mc-field-group, #mc-embedded-subscribe-form{
    background: #FBF4F2;
}

#signupModal {
    background-color: rgba(92, 88, 88, 0.253);
}

#mc_embed_signup_scroll {
    background: #FBF4F2;
}

div#mc_embed_signup{
    background: #FBF4F2;
    text-align: center
}

 .mc-field-group input {
    border-radius: 13px;
    width: 70%;
    padding: 10px 30px;
    margin-left: auto;
    margin-right: auto;
}
.required{
    background: #FDFBFB;
    border: 2px solid #979797;
    font-size: 20px;
    color: #857D7D;
    letter-spacing: -0.13px;
}
.mc-field-group{
    text-align: left;
    background: #FBF4F2;
}

input::placeholder {
    font-family: ArialRoundedMTBold;
    font-size: 12px;
    color: #857D7D;
    letter-spacing: -0.13px;
}

input#mc-embedded-subscribe.button{
    background-color: #FF5B5A;
    border-radius: 28px;
    width: 50%;
}

button.close-modal{
    background-color: #FF5B5A;
    border-radius: 28px;
    width: 50%; 
    color: white  
}

.subscribe-div {
    text-align: center;
    padding-top: 12px;
}

.modal-body {
    padding-bottom: 40px;
}

.modal-title {
    font-family: ArialRoundedMTBold;
    font-size: 30px;
    color: #4A4242;
    letter-spacing: -0.22px;
    padding-top: 20px;
    text-align: center;
}



ul.checkbox {
    margin: auto;
}

#mc_embed_signup .mc-field-group.input-group ul {
margin: auto;
}

#modalX {
    color:black;
    border-color: white
}



/* input {
    background-color: transparent;
} */